table {
    border-collapse: collapse;
    margin-bottom: 1em;
}
td {
    font-size: large;
    height: 1.4em;
    width: 1.5em;
    border: gray thin solid;
    text-align: right;
    padding-right: .2em;
    color: lightgray;
}

.received {
    color: black;
}

.winning-cell {
    background-color: yellow;
}

.star {
    text-align: center;
}

